<!-- 

Put the below code on the product form liquid file to show the WhatsApp button below the buy now button 

-->

<div class="whatsapp-button">
 <a class="whatsapp-btn" target="_blank" href="https://wa.me/+919822589111?text=Enquire for -{{ shop.url }}{{ product.url }}" style="text-decoration: none;">
        <img src="https://cdn.shopify.com/s/files/1/0073/2522/0979/files/whatsapp-icon.png?v=1615793565" width="25px" style="vertical-align: middle;" /> 
        <span>Enquire now</span>
    </a> 
</div>
